
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper">
     <div class="quiz-container">

        <div class="quiz-head">
            <h1>QUIZ GAME  <i class='bx bx-edit-alt'></i></h1>
            <div class="quiz-score">score
                <span id="correctscore"></span>/<span id="totalQuestion"></span>
            </div>
        </div>

        <div class="quiz-body">
            <h2 class="quiz-question" id="question"><!-- WHAT IS THE FULL FORM of bhjdjksbvsdvbhjzbvsdzbvuidshuvhhsdkhvhjnsuiiunidsuh<br>-<p class="category">science</p>--></h2>
            <ul class="quiz-options">
                <!-- <li >1.sdfghfghj</li>
                <li>2.sdfgvbnghj</li>
                <li>3.sdgvhbjfghj</li>
                <li>4.sdf vbjnghj</li> -->
            </ul>
            <div class="questionno">
            </div>
            <div id="result">
                <!-- result here -->
            </div>
        </div>
        

        <div class="quiz-foot">
            <button type="button" id="answer">CHECK ANSWER</button>
            <button type="button" id="play-again">Play again</button>
            <button type="button"id='back'><a href="demo.html">back</a></button>
        </div>
        
    </div>
</div>





    <script src="script.js"></script>
</body>
</html>

